@page "/"
@rendermode InteractiveServer
@using System.Collections.Concurrent
@using System.Text.Json
@using library

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
@if (Urls is not null) {
    foreach (var url in Urls) {
        <p>Url @url</p>
    }
}
else {
    <div>Urls is null</div>
}

<p>Welcome to your new app. This front end shows node status </p>

This is where i displayed node status
<div class="row">
    @foreach(var node in data) {
        <div class="p-3 col-4 row">
            <div class="border p-3 rounded">
                <p>Node @node.Value.Id</p>
                <p>Term @node.Value.Term</p>
                <p>State @node.Value.State</p>
                <p>Current leader @node.Value.CurrentTermLeader?.Id</p>
                <p>Election Timeout @node.Value.ElectionTimeout miliseconds</p>
                @if (node.Value?.State != States.Leader) {
                    @* <p>Time since hearing from leader @node.Value?.TimtimeSinceHearingFromLeader.ElapsedMilliseconds</p> *@
                    @* <p>Time until it will start an election: @(node.ElectionTimeout - node.InnerNode.timeSinceHearingFromLeader.ElapsedMilliseconds)</p> *@
                }
            </div>
           
            <div class="p-3">
                <h3>Display the current state machine state on each node</h3>
                @if(node.Value?.StateDictionary?.Count == 0) {
                    <p>No data in State yet</p>
                } 
                else {
                    <table class="table-striped">
                        <thead>
                            <tr>
                                <td>Key</td>
                                <td>Value</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in node.Value.StateDictionary) {
                                <tr>
                                    <td>@item.Key</td>
                                    <td>@item.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }


                <p>Highest committed index is: @node.Value.CommittedEntryIndex</p>
                <h5>Committed Logs (@node.Value.CommittedEntryIndex):</h5>
                @* @for(int i = 0; i < node.Value.CommittedEntryIndex; i++) {
                    <p>Key: @node.LogBook[i].Command.Item1, Value: @node.LogBook[i].Command.Item2</p>
                    <p>Previous Term: @node.LogBook[i].PreviousLogTerm</p>
    using System.Diagnostics.Eventing.Reader;
                    <p>Previous Log Index: @node.LogBook[i].PreviousLogIndex</p>
                    <p>Current Log Index: @i (also recorded as @node.LogBook[i].LogIndex)</p>
                    <p>Current Term: @node.LogBook[i].TermNumber</p>
                    <p>Log is committed</p>
                }

                <h5>Uncommitted Logs: (@(node.LogBook.Count() - node.HighestCommittedIndex))</h5>
                <p>Have count @node.LogBook.Count()</p>

                @for (int i = @node.HighestCommittedIndex; i < node.LogBook.Count(); i++) {
                    <p>Key: @node.LogBook[i].Command.Item1, Value: @node.LogBook[i].Command.Item2</p>
                    <p>Previous Term: @node.LogBook[i].PreviousLogTerm</p>
                    <p>Previous Log Index: @node.LogBook[i].PreviousLogIndex</p>
                    <p>Current Log Index: @i (also recorded as @node.LogBook[i].LogIndex)</p>
                    <p>Current Term: @node.LogBook[i].TermNumber</p>
                    <p>Command: @node.LogBook[i].Command.Item1 =>  @node.LogBook[i].Command.Item2</p>
                    <p>Log is <i>NOT</i> committed</p>
                } *@
            </div>
        </div>
    }
</div>

@code {
    NodeData tempNode = new();
    ConcurrentDictionary<string, NodeData> data = [];
    string TermClass(NodeData node) =>   "";
    string[] Urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');
    HttpClient http = new();
    private Timer? timer;
    protected override void OnInitialized() {
        Console.WriteLine("Loading page, trying to parse urls");
        Console.WriteLine("Urls has count " + Urls?.Count() ?? "null");
        
        Timer timer= new Timer(async _ => {
            await Task.WhenAll(Urls.Select(async url => {
                try 
                {
                    var willSendURL = url + "/nodeData";
                    Console.WriteLine("about to send request to " + willSendURL);
                    var response = await http.GetStringAsync(url + "/nodeData");
                    Console.WriteLine($"Response from {url} asking for node data: {response}");

                    var nodeData= await http.GetFromJsonAsync<NodeData>(url + "/nodeData");
                    Console.WriteLine($"Node Data: {nodeData.ToString()}");
                    if (nodeData != null) {
                        Console.WriteLine("We got inside the if block for each node data");
                        data[url] = nodeData;
                    }
                    else {
                        Console.WriteLine("did not get data for " + url);
                    }
                }
                catch(HttpRequestException ex) {
                    Console.WriteLine($"node {url} is down in ONInitialized Function, error " +ex.Message.ToString());
                    data.TryRemove(url, out var removedNodeData);
                }
                catch (JsonException ex)
                {
                    Console.WriteLine($"JsonException for {url}: {ex.Message}");
                    data.TryRemove(url, out var removedNodeData);
                }
            }).ToArray()
            );
            await InvokeAsync(StateHasChanged);
        }, null, 0, 200);
    }

    public string StateClass(IServer node)
    {
        if (node.State == States.Leader)
            return "text-primary";
        if (node.State == States.Candidate)
            return "text-warning";
        if (node.State == States.Follower)
            return "text-body-secondary";
        return "";
    }
}
